@import 'normalize.css';

@font-face {
  font-family: 'Josefin Slab';
  src: url('fonts/JosefinSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('fonts/GothamSSm-Light.otf');
}


:root,
  :root.spring {
    --color-1: #4e4a4e;
    --color-2: #ffffff;
    --color-3: #12a38c;
    --color-4: #99b433;
    --color-5: #cea52b;
    --color-6: #ce922b;
    --color-7: #0a5c4e;
  }

body {
  margin: 0;
  background-color: var(--color-4);
  opacity: 0.7;
  font-family: "Gotham Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

article {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  max-width: 600px;
  padding: 10px 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color-1);
}

#to-do_list {
  box-sizing: border-box;
  min-height: 60px;
  border-radius: 7px;
  background-color: var(--color-2);
}

#to-do_list_title {
  text-align: center;
}

#taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#enter-task {
  box-sizing: border-box;
  padding: 5px;
}

#add-task {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 10px 5%;
  background-color: var(--color-3);
  color: var(--color-2);
  cursor: pointer;
}

#add-task:hover {
  background-color: var(--color-7);
}
