@import 'normalize.css';

@font-face {
  font-family: 'Josefin Slab';
  src: url('fonts/JosefinSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('fonts/GothamSSm-Light.otf');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('fonts/GothamSSm-Medium.otf');
}


:root,
  :root.spring {
    --color-1: #222222;
    --color-2: #ffffff;
    --color-3: #12a38c;
    --color-4: #cfe386;
    --color-5: #cea52b;
    --color-6: #ce922b;
    --color-7: #99b433;
    --color-8: #0d7866;
  }

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-4);
  font-family: "Gotham Light", sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 5vh;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 5%;
  width: 100%;
  background-color: var(--color-2);
  box-shadow: 0 5px 5px var(--color-7)
}

article {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  max-width: 600px;
  padding: 10px 50px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color-1);
}

p {
  line-height: 1.15;
}

input {
  font-family: 'Gotham Light', sans-serif;
}

footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5vh 5vw;
  background-color: var(--color-2);
}



/***************/
/* PAGE STYLES */
/***************/
.container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

#header_site-title {
  width: 100%;
  font-family: 'Gotham Light', sans-serif;
  font-size: 18px;
}


/**************/
/* TO DO LIST */
/**************/
#to-do_list {
  box-sizing: border-box;
  min-height: 60px;
  border-radius: 7px;
  padding: 5%;
  background-color: var(--color-2);
}

#taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#enter-task, .editing-area {
  box-sizing: border-box;
  outline: none;
  border: 1px solid var(--color-5);
  border-radius: 5px;
  width: 80%;
  padding: 2%;
  color: var(--color-1);
}

#add-task {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 2% 5%;
  background-color: var(--color-3);
  font-family: 'Gotham Medium', sans-serif;
  color: var(--color-1);
  cursor: pointer;
}

#add-task:hover, .btn:hover {
  background-color: var(--color-8);
  color: var(--color-2);
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 35px 10px;
  min-height: 30px;
}

/* hide native checkbox */
.checkbox .is-task-done {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* container */
.checkbox {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  margin: 0 0 1.75em 0;
  padding-left: 5%;
  user-select: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* custom checkbox */
.checkmark {
  position: absolute;
  top: 4.5px;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px solid var(--color-3);
  border-radius: 3px;
  cursor: pointer;
}

/* custom checkbox bg when checked */
.checkbox .is-task-done:checked ~ .checkmark {
  background-color: var(--color-3);
}

/* hide checkmark when box is unchecked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when box is checked */
.checkbox .is-task-done:checked ~ .checkmark:after {
  display: block;
}

.checkbox .task-content {
  position: relative;
  outline: none;
  border: none;
  /*top: 1px;
  left: 25px;*/
}

/* text styles when checked */
.checkbox .is-task-done:checked ~ .task-content {
  text-decoration: line-through;
  color: #c9c8c9;
}

/* checkmark styles */
.checkbox .checkmark::after {
  top: 3px;
  left: 2px;
  width: 7px;
  height: 3px;
  border-left: 1px solid var(--color-2);
  border-bottom: 1px solid var(--color-2);
  transform: rotate(-45deg);
}

svg {
  width: 20px;
  height: auto;
}

svg path {
  fill: var(--color-7);
}

svg path:hover {
  fill: var(--color-4);
}

.list-editor {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 5px 0;
  outline: none;
  border: 1px solid var(--color-5);
  border-radius: 5px;
  padding: 2px 5px;
}

.editing-template {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-5);
}

.et-btns {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding-top: 10px;
}

.btn {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 7px 10px 8px;
  width: 25%;
  background-color: var(--color-3);
  opacity: 2;
  font-family: 'Gotham Medium', sans-serif;
  color: var(--color-1);
}



/******************/
/* MONTH CALENDAR */
/******************/
#month-calendar {
  box-sizing: border-box;
  margin: 10vh 0;
  padding: 0;
}

#cal-header {
  position: relative;
}

.cal-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  position: relative;
  height: 150px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: var(--color-3);
}

#prev-month, #next-month {
  position: absolute;
  font: 20px 'Gotham Medium', sans-serif;
  color: var(--color-1);
  z-index: 10;
  cursor: pointer;
}

#prev-month {
  left: 25px;
}

#next-month {
  right: 25px;
}

.cal-display {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  font-weight: normal;
  color: var(--color-1);
}

#weekdays {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--color-7);
  font-family: 'Gotham Medium', sans-serif;
}

.item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  text-align: center;
}

.wd {
  background-color: var(--color-7);
  color: var(--color-1);
}

#weeks-container {
  width: 100%;
}

.weeks {
  display: flex;
  flex-flow: row nowrap;
}

.days {
  width: 100%;
  height: min-content;
  background-color: #fff9e5;
}

.days:not(.month) {
  opacity: 0.8;
}

.days > p {
  margin: 0;
}

.last-first {
  border-radius: 0 0 0 7px;
}

.last-last {
  border-radius: 0 0 7px 0;
}

.selected {
  background-color: var(--color-5);
}

.selected p {
  font-family: 'Gotham Medium';
  color: var(--color-1);
}



/*************/
/* SVG CLOCK */
/*************/
#clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg-clock {
  position: relative;
  margin: 0 0 30px 0;
  width: 200px;
  font-family: 'Gotham Light', sans-serif;
  font-size: 4px;
  fill: var(--color-2);
  stroke: var(--color-3);
  stroke-width: 5;
}

#clock-face {
  width: 100;
}

#numbers {
  transform: translate(28.5px, 31.5px);
  fill: var(--color-5);
  stroke: none;
}

#numbers .num {
  font-family: 'Gotham Light', sans-serif;
  font-size: 14px;
  fill: var(--color-5);
  stroke: none;
}

#numbers > text:nth-child(1) {
	transform: translate(65px, -2.5px); /* 12 */
}

#numbers > text:nth-child(2) {
	transform: translate(107.5px, 7.75px); /* 1 */
}

#numbers > text:nth-child(3) {
	transform: translate(132px, 36.5px); /* 2 */
}

#numbers > text:nth-child(4) {
	transform: translate(145px, 74px); /* 3 */
}

#numbers > text:nth-child(5) {
	transform: translate(132px, 109.5px); /* 4 */
}

#numbers > text:nth-child(6) {
	transform: translate(106.5px, 138px); /* 5 */
}

#numbers > text:nth-child(7) {
	transform: translate(67.25px, 150px); /* 6 */
}

#numbers > text:nth-child(8) {
	transform: translate(30.5px, 138px); /* 7 */
}

#numbers > text:nth-child(9) {
	transform: translate(1.5px, 109.5px); /* 8 */
}

#numbers > text:nth-child(10) {
	transform: translate(-10px, 74px); /* 9 */
}

#numbers > text:nth-child(11) {
	transform: translate(1.5px, 36.5px); /* 10 */
}

#numbers > text:nth-child(12) {
	transform: translate(30px, 7.75px); /* 11 */
}

text.ct {
  font-family: 'Josefin Slab', serif;
  font-size: 12px;
  font-weight: normal;
  fill: var(--color-3);
  stroke: none;
}

#second {
  fill: none;
  stroke: var(--color-5);
  stroke-width: 1;
  stroke-miterlimit: 10;
  transform-origin: 100px 100px;
}

#minute {
  fill: none;
  stroke: var(--color-4);
  stroke-width: 2;
  stroke-miterlimit: 10;
  transform-origin: 100px 100px;
}

#hour {
  fill: none;
  stroke: var(--color-7);
  stroke-width: 3.25;
  stroke-miterlimit: 10;
  transform-origin: 100px 100px;
}

.sizing-box {
  fill: none;
}

.pin {
  fill: var(--color-2);
  stroke: var(--color-6);
  stroke-width:2;
}



/* MEDIA QUERIES */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  main {
    display: grid;
    grid-template-areas:  "page-title page-title"
                          "left-column right-column";
    grid-template-rows: 100px min-content;
    grid-template-columns: 1fr 1fr;
  }

  #app-purpose {
    grid-area: page-title;
  }

  .left {
    grid-area: left-column;
  }

  .right {
    grid-area: right-column;
  }
}
